// _variables.scss
$corDeFundo: #010101;
$corTextoPrincipal: rgb(255, 255, 255);
$corTextoSecundario: #ffffff;
$corDeFundoBotaoPrimario: #486753;
$corDeFundoBotaoSecundario: #1a1a1a;
$corDeFundoBotaoDark: #1f1f1f;